import { Component } from {quotes}react{quotes}{semi}
{style}
class {componentName} extends Component {
  constructor(props){
    super(props){semi}
  }

  render() {
    return (
      <>
        <div />
      </>
    ){semi}
  }
}{semi}

export default {componentName}{semi}
