import React from {quotes}react{quotes}{semi}
{style}
interface {componentName}Props {

}

const {componentName} = ({}: {componentName}Props) => {
  return (
    <>
      <div></div>
    </>
  ){semi}
}{semi}

export default {componentName}{semi}
