import React from {quotes}react{quotes}{semi}
import PropTypes from {quotes}prop-types{quotes}{semi}
{style}
const {componentName} = ({}) => {
  return (
    <>
      <div></div>
    </>
  ){semi}
}{semi}

{componentName}.propTypes = {

}{semi}

export default {componentName}{semi}
