import { Component } from {quotes}react{quotes}{semi}

{style}
interface Props {

}

class {componentName} extends Component<Props> {
  constructor(props){
    super(props){semi}
  }

  render() {
    return (
      <>
        <div />
      </>
    ){semi}
  }
}{semi}

export default {componentName}{semi}
