import React from {quotes}react{quotes}{semi}
import {quotes}./{componentName}{style}{quotes}{semi}

interface {componentName}Props {

}

const {componentName} = ({}: {componentName}Props) => {
  return (
    <>
      <div></div>
    </>
  )
}

export default {componentName}{semi}
