import React from {quotes}react{quotes}{semi}
import { observer } from {quotes}mobx-react{quotes}{semi}

const {componentName} = ({}) => {
  return (
    <>
      <div></div>
    </>
  ){semi}
}{semi}

export default observer({componentName}){semi}
