import { Component } from {quotes}react{quotes}{semi}
import { observer } from {quotes}mobx-react{quotes}{semi}

class {componentName} extends Component {
  constructor(){
    super(){semi}
  }

  render() {
    return (
      <>
        <div />
      </>
    ){semi}
  }
}{semi}

export default observer({componentName}){semi}
